<% include partials/head.ejs %>
<div class="header-banner">    
    <header class="wrapper">
        <div class="logo-title inline width20"><a href="/">Share<span>Ly</span></a></div>
        <div class="nav-bar inline width50">
        <nav class="top-navigation">
            <ul class="inline">
                <li><a href="/">Home</a></li>
                <li><a href="/">My Feeds</a></li>
                <li><a href="/video">Video</a></li>
                <li><a href="/wiki">Mini Wikipedia</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        </div>
        <div class="action width30">
            <span class="control"><a href="/"><button class="btn">Log In</button></a></span>
            <span class="control"><a href="/"><button class="btn">Sign Up</button></a></span>
        </div>
    </header>

    <div class="header-content-wrapper">
            <div class="header-content">
            <div class="first">This is first Header</div>
            <div class="first">This is Second Header</div>
          </div>
    </div>
</div>