<% layout('layout') %> 
<div class="page register-student width50">
    <div class="title">
        <p>Login to enter in a new world info world.</p>
    </div>
    <div class="content">
        <form class="form login-form" method="post" action ="/login" >
        <div class="form-group">
        <label>Mobile  Number</label>
        <input type="number" name="mobile" value = "9999" class="input-text" />
        </div>

        <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" value ="111" class="input-text" />
        </div>

        <div class="form-group">
        <button type="submit" class="btn sm" >Login</button>
        </div>
        </form>
    </div>

</div>