<% layout('layout') -%>

<div class="page wiki">
    <div class="left-wiki ">
    <div class="title">Mini Wikipedia</div>
    <div class="content">
        <div class="search-box"> <form action="/wiki" method="get"><input type="text" name="query" id="wiki_query" /> <button id='submit-wiki' type="submit" >Search</button></form></div>
      <ul class="suggestions" style="list-style:none">
      <!--<li>test</li>
      <li>test</li>
      <li>test</li> -->
      </ul>
        <div class="result">
            <div class="title">
                <% %>
            </div>
            <div class="info">
                <%  %>
            </div>
        </div>
    </div>
    </div>

    <div class="right-wiki ">
    fdfdffd 
    </div>
</div>