<% layout('layout') -%>

<div class="page wiki text-center">
    <div class="page-title">Mini Wikipedia</div>
    <div class="content">
    <div class="search-box"> <form action="/wiki" method="get" autocomplete="off"><input type="text" placeholder="Enter Search " value="<%= page.title %>" name="query" id="wiki_query" style="width:20%"/> <button id='submit-wiki' type="submit" >Search</button></form></div>
      <ul class="suggestions" style="list-style:none">
            <!--dynamic content-->
      </ul>
        <% if(page.title) { %>
        <div class="result">
            <div class="title">
                <%= page.title %>
            </div>
            <div class="info">
                <img src=" <%= page.image %> " />
                <%- page.extract %>
            </div>
        </div>
        <% } %>
    </div>

</div>