.main-container{
    margin : 0px 5px 20px 20px;
    border-top: 1px solid;
}
.page  .page-title{
    font-size:  28px;
}
.basic-info {
    font-size: 24px;
    /* background-color: lightseagreen; */
    padding: 8px;
}
.content-wrapper{
    box-shadow : 0px 0px 20px 0px darkseagreen;
    padding-left: 15px;
}
.content-wrapper .news{
    width: 70%;
    float: left;
}
.content-wrapper .img{
    width: 30%;
    /* float: right; */
}
.page .video {
    width: 50%;
    position: relative;
    left: 25%;
}
.left-content{
    width : 20%;
    float:left;
    border-right: 1px solid #ffff;
    padding: 5px 10px 10px 2px;
    min-height: 100vh;
}
.side-nav{
    margin-right: 10px;
}
.news-list{
    padding: 20px 10px 20px 20px;    
}
.left-content a {
    cursor: pointer;
    color: unset;
    text-decoration: none;
}
.left-content a :hover {
    color : #ffff;
}
.right-content{
 width: 70%;
 float: left;
}
.left-content ul.sources {
    list-style: none;
}
ul.sources  li{
    padding:5px;
    padding:5px;
}
.search-result{
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
}
.content  .video-item{
    display: inline-block;
    max-width: 250px;
    padding: 5px;
}
div, span {
    color:#f0f0f0 !important;
}
