.main-container{
    padding: 0px 5px 20px 10px;
    border-top: 1px solid;
    background-color: #ffff;
}
.main-container div,.main-container ,.main-container.span, .main-container a h2{
    /* color: black !important; */
}
.page  .page-title{
    font-size:  28px; 
}
.basic-info {
    font-size: 24px;
    /* background-color: lightseagreen; */
    padding: 8px;
    text-transform: capitalize;
}
.content-wrapper img{
    width:200px;
    height:150px;
}
.content-wrapper{
    box-shadow : 0px 0px 2px 0px darkseagreen;
    padding-left: 15px;
    margin-bottom: 13px;
}
.content-wrapper a{
    color: honeydew;
}
.content-wrapper .news{
    width: 80%;
    float: left;
}
.news .title{
    font-size: 20px;
    font-weight: 400;
}
.content-wrapper .img{
    width: 15%;
    float: right;
}
.page .video {
    width: 50%;
    position: relative;
    left: 25%;
}
.left-content{
    width : 20%;
    float:left;
    /* border-right: 1px solid #ffff; */
    padding: 5px 10px 10px 2px;
    min-height: 100vh;
}
.side-nav{
    margin-right: 10px;
}
.news-list{
    padding: 20px 10px 20px 20px;    
}
.left-content a {
    cursor: pointer;
    color: unset;
    text-decoration: none;
}
.left-content a :hover {
    color : #ffff;
}
.right-content{
 width: 78%;
 float: left;
}
.left-content ul.sources {
    list-style: none;
}
ul.sources  li{
    padding:5px;
    padding:5px;
}
.search-result{
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
}
.content  .video-item{
    display: inline-block;
    max-width: 250px;
    padding: 5px;
}
main-container .div, .main-container span, .main-container a {
    color: black !important;
}
.header-wrapper didv ,.header-wrapper spsan ,.header-wrapper a{
    color : #ffff !important;
}

.wiki .left-wiki,.wiki .right-wiki {
    width: 50%;
    margin-top : 5px;
    padding: 5px;
    text-align: center;
    min-height: 400px;
}
.wiki .left-wiki{ float: left;
    border-right: 1px solid #1E83AE;
}
.wiki .right-wiki{ float: right;}