<% include ../partials/head.ejs %>
<link rel="stylesheet" href="/css/chatbox.css">

<div class="main-wrapper">
    <section class="online-list width30">        
            <div class="header-search">
                <input type="text" placeholder="search.." id="search"  name="search" />
            </div>

            <div class="list">
                <div class="item clearfix">
                    <div class="profile-image">
                        <img src="https://devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg" />
                        <span class="status-color"></span>
                    </div>
                    <div class="info">
                        <div class="name">Matyam Naz</div>
                        <div class="status">Online</div>
                    </div>
                </div>

                <div class="item">
                        <div class="profile-image">
                            <img src="https://devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg" />
                            <span class="status-color"></span>
                        </div>
                        <div class="name">Matyam Naz</div>
                        <div class="status">Online</div>
                    </div>
            </div>
        </section>    

    <section class="chatbox width60">
        <div class="header clearfix">
            <div class="profile-image current-user-img">
                <img src="https://devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg"  width="60px" />
            </div>
            <div class="current-info">
                    <span class="name">CHayma</span>
                    <span class="statys">User typing..</span>
            </div>
        </div>

        <div class="message-box">

            <div class="message sender">
                <span class="content">
                    <span class="text">Hello how are u?</span>
                    <span class="timestamp">09:10 am , Today</span>
                </span>
                <span class="profile-image">
                    <img src="https://devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg"/ >
                </span>
            </div>
            <div class="message receiver">
                    <span class="content">
                        <span class="text">Hello how are u?</span>
                        <span class="timestamp">09:10 am , Today</span>
                    </span>
                    <span class="profile-image">
                        <img src="https://devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg"/ >
                    </span>
                </div>

        </div>
    </section>
</div>